body {
  font-family: 'Ubuntu Mono', monospace;
  color: rgb(196, 196, 196);
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  position: relative;
  background-color: black;
}

a {
  color: rgb(196, 196, 196);
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}