/*文字选中效果*/
::selection {
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 1em;
}
  

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 0.15em solid rgba(255, 255, 255);
    position:fixed;
    top:1em;
    z-index: 999;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2em;
    text-decoration:none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bolder;
    overflow: hidden;
    transition: all 300ms ease;
}
nav a:active{
    transform: scale(0.92);
}
nav img, .slash, .navText{
    transition: all 600ms ease;
    filter: invert(1);
    user-select: none;
    -webkit-user-drag: none;
}

.out_nav{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}
.slash{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: none;
}
.navText{
    display: inline-block;
}
.content_box{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 6em;
}
.content{
    text-align: left;
    padding: 0 5em;
    margin-top: 2em;
    line-height: 2em;
    word-spacing: 0.1em;
    letter-spacing: 0.08em;
    text-wrap:pretty;
    max-width: 800px;
}
.content h1{
    text-shadow: 0em 0em 0.01em rgba(255, 255, 255);
    transform: translateX(-1em);
    line-height: normal;
    font-size: 1.5em;
    text-transform: capitalize;
}
.content p{
    text-indent: 1em;
}

.note{
    animation: dimIn 500ms ease forwards;
    transition: all 400ms ease;
    /* padding: 1em 2em;
    margin:1.5em 3em 0 3em; */
    position: sticky;
    margin: 5em 12vw 0em 12vw;
    padding: 1em 1.5em;
    max-width: 600px;
    border: 0.1em solid rgb(255, 255, 255);
    text-indent: 1em;
    font-style: italic;
}
.note:hover{
    border: 0.1em solid rgb(255, 255, 255,0.6);
}
.note:active{
    border: 0.1em solid rgb(255, 255, 255,0.35);
}
.slash{
    display: inline-block;
    animation: dimIn 50ms forwards ease;
}
.highlight{
    border-bottom: #ffffff solid 0.01em;;
    padding: 0 0.1em;
    margin: 0 0.1em;
    text-shadow: 0em 0em 1em 1em rgba(255, 255, 255);
}

/* .out-loading{
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 1em;
    left: 1em;
    animation: slideLeft 800ms 1200ms ease-in-out forwards;
} */
/* .loading{
    border: 0.5em dashed;
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 1em;
    left: 1em;
    animation: rotate-center 800ms ease-in-out infinite,dimIn 600ms ease;
} */

/* .backBtn{
    height: 20em;
    width: 20em;
    transform: scale(0.1);
    display:flex;
    border: #ffffff solid 2.3em;
    border-radius: 999em;
    transition: all 250ms ease;
}
.arrow{
    transform: scale(4) translateX(-1.6em) translateY(1.25em);
}
.leftArrow{
    overflow: hidden;
    position: fixed;
    right: -4.3em;
    bottom: 10em;
    border-style: solid;
    border-width: 20px 30px 20px 0px;
    border-color: transparent #ffffff transparent transparent;
}
.minus{
    overflow: hidden;
    position: fixed;
    right: -5.42em;
    bottom: 10.9em;
    border-style: solid;
    border-width: 0.33em 1em 0.33em 1em;
    border-color: #ffffff;
    width: 0em;
    height: 0em;
} 
*/

@keyframes dimIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
@keyframes dimOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes slideDown {
    from{
        transform: translateY(-4em);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-4em);
    }
}
 @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  


@font-face {
    font-family: "coca";
    src: url(fonts/可口可乐在乎体.ttf);
}

@font-face {
    font-family: "gsht";
    src: url(fonts/sarasa-semibold.ttc);
}


@media (max-width: 768px) {
    nav{
        flex-direction: column;
        top:auto;
        right:0%;
        bottom: 10%;
        transform: translateX(50%) translateY(10%) scaleY(80%);
    }
    nav img{
        transform: translateX(-100%) translateY(5%) scaleY(125%);
    }
    nav a{
        transition: none;
    }
    .slash, .navText{
        display: none;
    }
    .out_nav{
        position: absolute;
    }
    .active{
        background-color:azure;
    }
    nav a.active img{
        filter: invert(0);
    }
    /* .backBtn{
        position:fixed;
        bottom: -10.5em;
        right:-10.8em;
    } */
}

@media (min-width: 770px) {
    .slash{
        animation: dimIn 1000ms ease;
    }
    nav{
        animation: slideDown 600ms ease;
        border-radius: 999em;
    }
    nav:hover{
        background-color: black;
        transform: scale(1.05);
        transition: all 600ms ease;
    }
    nav:not(:hover){
        transition: all 800ms ease;
    }
    nav a:hover{
        padding: 0.5em 1em;
        background-color: rgb(255, 255, 255);
        border-radius: 999em;
    }
    
    .active{
        background-color:azure;
        border-radius: 999em;
    }
    nav a:hover .navText{
        color: rgb(255, 255, 255);
        transform: translateX(0.8em);
    }
    nav a:hover .slash{
        transform: scale(0) translateX(1em);
    }
    nav a:hover img{
        opacity: 0;
        transform: translateX(0.8em);
    }

    nav a:not(:hover).active .navText{
        color: rgb(255, 255, 255);
        transform: translateX(0.8em);
    }
    nav a:not(:hover).active img{
        opacity: 0;
        transform: translateX(0.8em);
    }
    nav a:not(:hover).active .slash{
        transform: scale(0) translateX(1em);
    }
    /* .backBtn{
        position:fixed;
        top: -9.8em;
        left:-10em;
    }
    .backBtn:hover{
        transform: scale(0.11);
    }
    .backBtn:active{
        transform: scale(0.095);
    } */
}