
html{
    font-size: 110%;
    font-family: "coca", system-ui;
    color: #261700;
}

body{
    background-color: rgba(155, 134, 122, 0.253);
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 224, 159);
    box-shadow: 0px 4px 10px 0px rgba(64, 64, 64, 0.27);
    position:sticky;
    top:0;
    z-index: 999;

}

nav a{
    padding: 0.6em 2em;
    margin: 0 0.3em;
    text-shadow: 0 0px 2px rgb(90, 60, 0);
    border-radius: 0;
    transition: all 200ms ease;
    text-decoration:none;
    color: rgb(92, 55, 0);
}

nav a:hover{
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.05);
}

nav img{
    transform: translateY(24%) translateX(5%);
    transition: all 500ms ease;
}


.slash{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: none;
}

.content{
    text-align: left;
    padding: 0 5em;
    margin-top: 2em;
    line-height: 135%;
    word-spacing: 100%;
}
.content h1{
    text-shadow: 0.01em 0.01em 0.03em rgba(0, 0, 0, 0.3);
    transform: translateX(-1em);
}

.note{
    padding: 0.5em 1.5em;
    margin-left: 2em;
    margin-top: 2em;
    /* text-shadow: 0 0px 2px rgba(0, 0, 0, 0.3); */
    background-color: rgba(255, 199, 86, 0.171);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.158);
    position:static;
    display: inline-block;
    max-width: 600px;
}

.navText{
    display: inline-block;
}

.slash{
    display: inline-block;
    opacity: 0;
    animation: dimIn 100ms forwards ease;
}

@keyframes dimIn {
    to{
        opacity: 100%;
    }
}

@font-face {
    font-family: "coca";
    src: url(fonts/可口可乐在乎体.ttf);
}

@font-face {
    font-family: "gsht";
    src: url(fonts/sarasa-semibold.ttc);
}


@media (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
        position:fixed;
        top:auto;
        right:0%;
        bottom: 10%;
        z-index: 4;
        transform: translateX(50%) translateY(10%) scaleY(80%);
        border-radius: 1rem;
    }
    nav a{
        margin: 0;
    }
    nav img{
        transform: translateX(-110%) translateY(5%) scaleY(125%);
        opacity: 80%;
    }

    .slash, .navText{
        display: none;
    }

    .note{
        border: 0px inset #7effff42;
    }
    
    
}

@media (min-width: 600px) {
    .slash{
        animation: dimIn 800ms forwards ease;
    }
}